/*-----------------------
----- Basic Styles -----
-------------------------*/
body {
  font-family: Oswald, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  color: #6d6d6d;
  overflow-x: hidden;
  margin-top: 105px; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.bg-mac {
  position: relative;
  background: url("../img/macbook.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -100px; }

a {
  color: #FF6F00;
  text-decoration: none; }

a:hover,
a:focus {
  color: #FFA000;
  text-decoration: underline; }

a:focus,
.btn:focus {
  outline: none; }

/*-----------------------
----- Typo Styles ------
-------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300; }

.big-text {
  font-size: 42pt;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 62px;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
  margin-bottom: 60px; }

.section-title {
  margin-top: -20px;
  margin-bottom: 80px;
  text-align: center; }

/*-----------------------
----- Color Styles ------
-------------------------*/
.bg1 {
  color: #6D6D85;
  background: #fff; }

.bg2 {
  color: #fff;
  background: #FFA000; }

.orange {
  color: #FF6F00; }

/*------------------
----- Buttons ------
--------------------*/
.btn-color1 {
  padding: 10px 30px;
  color: #fff;
  font-size: 21pt;
  font-weight: 300;
  background: #FF6F00;
  outline: none !important;
  border-radius: 0;
  transition: background .5s; }

.btn-color1:hover {
  color: #fff;
  background: #FFA000; }

.btn-color1:focus,
.btn-color1:active {
  color: #fff; }

.navbar {
  box-shadow: 2px 2px 5px rgba(192, 156, 126, 0.8);
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

#main-nav .navbar-brand {
  display: inline-block;
  font-size: 24pt;
  font-weight: 700;
  color: #6d6d6d;
  line-height: 54px; }

#main-nav .navbar-brand, #main-nav .navbar-brand:hover, #main-nav .navbar-brand:active, #main-nav .navbar-brand:focus {
  padding: 0 10px;
  font-size: 20pt;
  line-height: 30px;
  font-weight: normal;
  color: #6d6d6d; }

#main-nav .navbar-brand span {
  font-size: 24pt;
  font-weight: 300; }

/*-----------------------
---- Header Styles ----
-------------------------*/
#home {
  color: #fff;
  max-width: 100%; }
  #home .backstretch img {
    -webkit-transform: scale(1);
    transform: scale(1); }
  #home .container {
    position: fixed;
    top: 50%;
    width: 100% !important;
    margin-top: -190px;
    z-index: -1; }
  #home .hello {
    -ms-transform: rotate(-7deg);
    /* IE 9 */
    -webkit-transform: rotate(-7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-7deg); }
  #home p {
    margin: 0 auto;
    font-size: 24pt;
    font-weight: 600;
    background: #FFA000;
    display: table;
    padding: 5px 10px;
    position: relative;
    left: -80px;
    border: 5px solid #fff; }
  #home .p2 {
    left: 100px; }
  #home h1,
  #home h2 {
    margin: -10px auto;
    z-index: -1;
    font-size: 30pt;
    font-weight: 600;
    background: #FF6F00;
    display: table;
    padding: 5px 10px;
    border: 5px solid #fff; }
  #home h2 {
    position: relative;
    left: 50px; }

/*----------------------
----- Contact Styles ----
------------------------*/
#contact {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px; }

#contact .contact-text {
  font-size: 16pt;
  line-height: 34px;
  margin-bottom: 30px;
  text-align: justify; }

#contact .contact-list {
  padding-left: 0px; }

#contact .contact-list li {
  margin-bottom: 30px;
  font-size: 16pt;
  list-style: none; }

#contact .contact-list i {
  display: inline-block;
  color: #fff;
  font-size: 22pt;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #FF6F00;
  border-radius: 50% 50% 0 50%;
  margin-right: 5px;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

#contact .contact-list a {
  color: #6d6d6d;
  text-decoration: none; }

#contact .contact-list a:hover {
  color: #FF6F00; }

#contact .contact-list a:hover i {
  background: #FFA000;
  border-radius: 50% 50% 50% 50%; }

/*---------------
My Work
----------------*/
#portfolio a {
  color: #6d6d6d; }

/*-------------------
---- GMap Styles ----
---------------------*/
#gmap {
  display: block;
  width: 100%;
  height: 550px;
  margin: 0 auto;
  border-radius: 50% 50% 0 50%;
  border: 10px solid #FF6F00; }

/*----------------------
----- Footer Styles ----
------------------------*/
#main-footer {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #6D6D6D;
  text-align: center;
  border-top: 10px solid #FF6F00; }

#main-footer p {
  color: #fff; }

#main-footer p a {
  color: #fff; }

.social {
  list-style: none;
  display: block;
  padding: 0px; }

.social li {
  display: inline-block; }

.social a {
  display: inline-block;
  color: #fff;
  font-size: 22pt;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #FF6F00;
  border-radius: 50% 50% 0 50%;
  margin-right: 5px;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.social a:hover {
  background: #FFA000;
  border-radius: 50% 50% 50% 50%; }

/*----------------------
----- Media Queries ----
------------------------*/
@media (max-width: 576px) {
  nav .container {
    width: 100%; } }

@media (max-width: 1199px) {
  #gmap {
    height: 460px; }
  #contact .contact-text {
    font-size: 13pt;
    line-height: 28px; } }

@media (max-width: 991px) {
  .big-text {
    font-size: 30pt;
    line-height: 40px;
    margin-bottom: 30px; }
  #about .image {
    width: 250px; }
  .chart {
    margin-bottom: 60px; }
  .skill10 p, .chart p {
    font-size: 24pt; }
  #gmapMobil {
    height: 300px;
    width: 100%; }
  #main-footer {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative; }
  #main-footer p, #main-footer p a {
    font-weight: 500; } }

@media (max-width: 767px) {
  .big-text {
    font-size: 26pt; }
  body {
    font-size: 12pt; }
  #main-nav.scrolled .navbar-toggle {
    border-color: #FF6F00; }
  #main-nav.scrolled .navbar-toggle .icon-bar {
    background: #FF6F00; }
  #home p {
    font-size: 16pt; }
  #home h1, #home h2 {
    font-size: 20pt; }
  #home h2 {
    left: 0px; }
  #about .about-text {
    font-size: 14pt; }
  #about .timeline {
    margin-left: 35px; }
  #about .imageCont {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg); }
  #skills .skill10 {
    font-size: 16pt; }
  #filter-works ul li {
    display: block;
    margin: 0px; }
  #filter-works ul li a {
    padding: 5px 0px; }
  #projects-container .project-item {
    width: 250px; }
  .modal-header h4 {
    margin: 10px;
    font-size: 10pt;
    border: 2px solid #fff; }
  .modal-header h4 span {
    font-size: 9pt;
    border: 2px solid #fff; }
  #contact .contact-text {
    font-size: 14pt;
    line-height: 24px; }
  #contact .contact-list li {
    font-size: 14pt; } }
